/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  display: block;
  max-width: none;
  max-height: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* --------------- */

/* xZoom Styles below */
.xzoom-container { 
  display: inline-block;
}

.xzoom-thumbs {
  text-align: center;
  margin-bottom: 10px;
}

.xzoom { 
    /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);   */
}
/*.xzoom2, .xzoom3, .xzoom4, .xzoom5 {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}*/

/* Thumbs */
.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
  border: 1px solid #cecece;
  /* margin-left: 5px; */
  /* margin-bottom: 10px; */
  background-color: #fff;
}

/* .xzoom-video{
  border: 1px solid #cecece;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.xzoom-video img{
  position: relative;
  z-index: 0;
}

.xzoom-video::before {
  position: absolute;
  top: 37%;
  left: 37%;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  background: #5E6FB5 url(../../images/svg/play.svg);
  background-size: cover;
  border: .5px solid #fff;
} */

@media only screen and (max-width: 1199.99px){

  .xzoom-video::before {
    position: absolute;
    top: 37%;
    left: 37%;
    width: 25px;
    height: 25px;
  }

}

@media only screen and (max-width: 991.99px){

  .xzoom-video::before {
    position: absolute;
    top: 37%;
    left: 37%;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    background: #E5002B; url(../../images/svg/play.svg);
    background-size: cover;
    border: .5px solid #fff;
  }

}

@media only screen and (max-width: 575.99px){

  .xzoom-video::before {
    position: absolute;
    top: 37%;
    left: 37%;
    width: 25px;
    height: 25px;
  }

}

.xzoom-source, .xzoom-hidden {
  display: block;
  position: static;
  float: none;
  clear: both;
}

/* Everything out of border is hidden */
.xzoom-hidden {
  overflow: hidden;
}

/* Preview */
.xzoom-preview {
  border: 1px solid #888;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.50);
}

/* Lens */
.xzoom-lens {
  border: 1px solid #555;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.50);
  cursor: crosshair;
}

/* Loading */
.xzoom-loading {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: .7;
  background: url(../example/images/xloading.gif);
  width: 48px;
  height: 48px;
}



